*{margin: 0; padding: 0; box-sizing: border-box; outline: none;}


body{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

fieldset{
    width: 600px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    border: 3px solid #000;
}


 fieldset legend{
    font: bold 32px cursive;
    padding: 0 30px;
    animation: anim 3s infinite;
}

fieldset form{
    position: relative;
  
}

@keyframes anim {
    50%{
        padding: 0 200px;
    }
} 



fieldset form .display{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    gap: 20px;
    background: linear-gradient(45deg, #048200, #00ff00);
    border-radius: 10px;
}



fieldset form .display .eye{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    border:  3px solid #000;
    box-shadow: inset 0 0 15px #000 ;
    transition: .1s;
}


fieldset form .display .eye::after{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
}

fieldset form .block{
    background: linear-gradient(45deg, #ffc400, #ff7600);
    border-radius: 5px;
    padding: 25px;
}

fieldset form .block .row{
    margin: 0 auto 20px auto;
    position: relative;
    width: 95%;
}


fieldset form .block .row input:not([type="submit"]){
    width: 100%;
    height: 45px;
    padding-right: 15px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #000;
    font: bold 20px sans-serif;
}





fieldset form .block .row button{
   position: absolute;
   padding: 10px;
   font-size: 14px;
   cursor: pointer;
   right: 0;
   top: 0;
   height: 100%;
   border-radius: 0 25px 25px 0;
   background: #000;
   color: #fff;
}



fieldset form .block .row input[type="submit"] {
    font: bold 25px cursive;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    transition: .2s;
}


fieldset form .block .row input[type="submit"]:hover, 
fieldset form .block .row button:hover{
    background: #02B800;
}



fieldset .player{
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #0006;
    padding: 10px;
    margin: 0 auto;
    border-radius: 100px 100px 0 0 ;
    border: 5px solid blue ;
    border-bottom: 0;
}


fieldset .player .btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: inset 0 0 10px #fff;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}


fieldset .player .btn:hover{
    box-shadow: inset 0 0 30px 10px #fff;
    color: blue;
}

fieldset .player .btn:nth-child(1), fieldset .player .btn:nth-child(5){
    width: 50px;
    height: 50px;
}









